{% load static %}
{% include 'header.html'%}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Staff Details</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Profile Photo</th>
                      <th style="width: 10px">ID</th>
                      <th style="width: 115px">First Name</th>
                      <th style="width: 115px">Last Name</th>
                      <th style="width: 150px">Contact</th>
                      <th>Email</th>
                      <th style="width: 50px"></th>
                      <th style="width: 50px"></th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for i in staff %}
                    <tr>
                      <td style="width: 50px;"><img src="/media/{{i.image}}" style="width: 50px;" alt=""></td>
                      <td>{{i.id}}</td>
                      <td>{{i.name}}</td>
                      <td>{{i.surname}}</td>
                      <td>{{i.contact}}</td>
                      <td style="width: 150px;">{{i.email}}</td>
                      <td>
                        <a href="/editstaff?editId={{i.id}}" style="color: white;">Edit</a>
                      </td>
                      <td>
                        <a href="/deletestaff?deleteId={{i.id}}" style="color: white;">Delete</a>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
            </div>
            <!-- /.card -->
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <div class="float-right d-none d-sm-block">
      <b>Version</b> 3.2.0
    </div>
    <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="{% static 'admin_assets/plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static 'admin_assets/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'admin_assets/dist/js/adminlte.min.js' %}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{% static 'admin_assets/dist/js/demo.js' %}"></script>
</body>
</html>
